// Untitled Palette
$color-1: #e3ac54;
$color-2: #9b7139;
$color-3: #ffffff;
$color-4: #f2f2f2;
$color-5: #7a7a7b;
$color-6: #41403e;
$color-7: #000000;
$color-8: #eee2c2;
$color-9: #a99c8d;
$color-10: #4d463c;
