header#bgImage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .tagline{
        /* display: none;*/
        display: block;
        color: $white;
        padding-top: 20vh;
        
        @media $small{
            display: block;
            max-width: 40em;
            font-size: 2.5rem;
            font-weight: $font-weight-normal;
            
            .headline{
                font-size: 6rem;
            }
        }
        @media $middle{
            display: block;
            max-width: 40em;
            padding-top: 16vh;
            font-weight: $font-weight-normal;
            
            .headline{
                font-size: 8rem;
            }
        }
        
        .headline{
/*           font-size: 8rem;*/
            padding-top: 2vh;
            color: $white;
        }
        .mg-animation{
            animation-name: puffIn;
        }
        
        .sub-headline{
            font-family: $font-Guj;
            font-weight: lighter;
        }
    }/* .tagline */
    
    form.searchbar{
        margin-top: 1rem;
        position: relative;
        
        input{
            width: 40%;
            padding: .4em;
            appearance: none;
            box-shadow: none;
            border-color: transparent;
            background-color: rgba(200,200,200,.3);
            font-size: 1.6rem!important;
            border-radius: 4px;
            &:focus{
                background-color: rgba(220,220,220,.5);
            }
            &:focus + img.search-icon{
                opacity: 0.4;
            }
        }
/*
        input:focus + img.search-icon{
            opacity: 0.4;
        }
*/
        img.search-icon{
            width: 1.6em;
            position: absolute;
            margin: .4em;
            right: 30%;
            top: 0;
        }
    }
    
}/* header#bgImage */

header.full-height{
    @mixin backImage '../img/brainpup-info-bg.jpg';
    
    @media $small{
        @mixin backImage '../img/brainpup-info-bg.jpg', 800px;
    }
}
header.half-height{
    @mixin backImage '../img/brainpup-info-bg.jpg';
    
    @media $small{
        @mixin backImage '../img/brainpup-info-bg.jpg', 25vh;
        min-height: 25vh;
    }
}


/*---- Test: https://github.com/zhouwenbin/postcss-animation ----*/

/*  
header#bgImage{ background-image: url('../img/brainpup-info-bg.jpg'); }  
*/

header #transcover{
    position: relative;
    background: $sec-trans-cover;
/*    height: $section-height;*/
    height: 100%;
    
    .trashape{
        height: 15vh;
        width: 100vw;
        position: absolute;
        bottom: 0;
        display: inline-flex;
        overflow: hidden;
        
        span{
        /*   vertical-align's baseline   */
            height: 100%;
            width: 1px;
            display: inline-block;
            transform: translateX(-1px);
            vertical-align:bottom;
        }
        
        .whitetra{
            float: left;
            width: 50vw;
            height: 0;
            padding-bottom: 20vh;
            background-image: url('../img/svg/WhiteRectangle.svg');
            background-clip: border-box;
            background-size: cover;
        /*    background-size: contain;*/
            background-repeat: no-repeat;
            background-position-y: 100%;
        }
    }
}

.right{
    transform: scaleX(-1);
}


/* navbar link */
/*
ul.navbar {
    display: inline-flex;
}
ul.navbar li {
    list-style-type: none;
    padding-left: 1em;
    font-size: 1.2rem;
}
ul.navbar li a{     
    color: $dark-sec-link;
}*/
