.image-bg{
    @mixin backImage '../img/brainpup-info-bg.jpg',rgba(0,0,0,.5),rgba(0,0,0,.7);   
    clip-path: url(#trapezoid);
    height: auto;
    
    @media $small{
        height: $section-height;
    }
    
    .white-bg>div{
        height: 100%;
    }
    
    .section-icon{
        min-height: 20vh;
        display: block;
        padding-top: 2vh;
        
        .head-icon{
            height: 10vh;
            background: url(../img/brainpup_icon_headW.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 60px;
            margin: 5vh auto 0 auto;
        }
        
        .section-icon-title{
            margin-top: 0;
            font-size: .8em;
            font-weight: bold;
            color: $white;
        }
    } /* section-icon*/
    
    
    .main-content{
        min-height: $section-H-height;
        @media $small{
            max-height: 80vh;
            height: 78vh;
        }
        
        .headline{
            font-size: $section-title-sm-ft-size;
            color: $dark-sec-title;
            line-height: 3rem;
            @media $small{
                font-size: $section-title-font-size;
                line-height: 8rem;
            }
        }
        
        .text-content{
            column-count: 2;
            column-gap: 30px;
            margin: 5vh auto;
            text-align: left;
            
            @media $xsmall{
                column-count: 1;
                font-size: 1rem;
            }
        }
    }/* main-content */
    
    .member-list{
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 10vh;
        @media $small{
           flex-flow: row nowrap; 
        }
        
        .member-card{
            flex: 1;
            min-height: 20vh;
            display: block;
            padding: 2vh 1vw;
            color: $white;

            .member-header{
                height: 14vh;
    /*          background: url(../img/brainpup_icon_headW.svg);
                background-repeat: no-repeat;
                background-size: contain; */
                width: 14vh;
                margin: 5vh auto 0 auto;
                
                .round-header{
                    border-radius: 50%;
                }
            }
            .member-header::after{    
                content: " ";
                height: 15.26vh;
                width: 16.66vh;
                background-image: url('../img/brainpup_icon_memeberphoto.svg');
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                position: relative;
                top: -100%;
                right: 18%;
            }

            .person-card{
                margin-top: 3rem;
                font-size: 2rem;
                font-weight: bold;
                
                .card-name{ margin-top: 1rem;}
                .card-title{ margin-top: .5em;}
            }
            
            .light-button{
                font-family: $font-Guj; 
                background-color: transparent; /* light brown */
                border: 1px solid $dark-sec-btnborder;
                border-radius: 1rem;
                color: $dark-sec-btnlabel;
                padding: 1rem 6rem;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                line-height: 120%;
            }
            .light-button.small-btn{
                font-size: 1.4rem;
                box-shadow: 2px 2px 6px $light-sec-btnshadow;
            }
            .light-button.small-btn:hover{
                box-shadow: 4px 4px 10px $light-sec-btnshadow;
            }
            .light-button.large-btn{
                font-size: 2.6rem;
                box-shadow: 3px 3px 6px $light-sec-btnshadow;
            }
            .light-button.large-btn:hover{        
                box-shadow: 6px 6px 10px $light-sec-btnshadow;
            }
        } 
    }/* member-list */
}
