.white-bg{
/*    background-color: $white;   */
    @mixin circuitPattern '../img/brainpup_circuitbg.png';
    font-family: $font-Guj;
    
    @media $xsmall{
        height: $section-H-height;
    }
    
    .white-bg>div{
        height: 100%;
    }
    
    .section-icon{
        min-height: 20vh;
        display: block;
        padding-top: 2vh;
        
        .head-icon{
            height: 10vh;
            background: url('../img/brainpup_icon_head.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 60px;
            margin: 5vh auto 0 auto;
        }
        
        .section-icon-title{
            margin-top: 0;
            font-size: .8em;
            font-weight: bold;
            color: $black;
        }
    } /* section-icon*/
    
    
    .main-content{
        max-height: 80vh;
        height: 78vh;
        
        .headline{
            font-size: $section-title-sm-ft-size;
            line-height: 3rem;
            @media $small{
                font-size: $section-title-font-size;
                line-height: 8rem;
            }
        }
        
        .text-content{
            column-count: 2;
            column-gap: 30px;
            margin: 5vh auto;
            text-align: left;
            @media $xsmall{
                column-count: 1;
                font-size: 1rem;
            }
        }
    }
    
    button{
        font-family: $font-Guj; 
        background-color: $light-sec-btnbg; /* light brown */
        border: none;
        border-radius: 1rem;
        color: $light-sec-btnlabel;
        padding: 1rem 6rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        line-height: 120%;
    }
    button:hover {
        background-color:$light-sec-btnlabel;/* light brown */
        color: $light-sec-btnbg;
    }
    button.small-btn{
        font-size: 1.4rem;
        box-shadow: 2px 2px 6px $light-sec-btnshadow;
    }
    button.small-btn:hover{
        box-shadow: 4px 4px 10px $light-sec-btnshadow;
    }
    button.large-btn{
        font-size: 2.6rem;
        box-shadow: 3px 3px 6px $light-sec-btnshadow;
    }
    button.large-btn:hover{        
        box-shadow: 6px 6px 10px $light-sec-btnshadow;
    }
    button.ver-middle{
        position: relative;
        top: 50%;
        transform: 			translateY(-50%);
    }
}/*  white-bg  */
